main {
  margin: 0 auto;
  width: 90%;
}

main .people-list {
  background-color: blue;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
}

main .people-list figure {
  margin: 5px;
}

main .people-list figure .picture {
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
