<h1>{{vm.title}}</h1>
<p ng-if="!vm.success"> {{ vm.explanation }} </p>
<form ng-if="vm.success">
  <label>Filter by any field: <input type="text" placeholder="Value to filter" ng-model="vm.filterValue"></label>
</form>
<ul class="people-list" ng-if="vm.success">
  <li ng-repeat="person in vm.newData.peoplePage | filter:vm.filterValue">
    <div ng-style="{ 'background-image': 'url(' + person.thumbnail + ')' }"class="picture" ng-click="vm.detailsById($event, person.id)"></div>
    <p><a href="#myModal" ng-click="vm.detailsById($event, person.id)">{{ person.name }}</a></p>
  </li>
</ul>
<ul class="link-list" ng-if="vm.success">
  <li>
    <button ng-click="vm.changePage($event, vm.newData.actualPage - 1)" ng-disabled="vm.newData.previousPage" >Previous</button>
  </li>
  <li ng-repeat="link in vm.newData.arrayPage">
    <a href="" ng-click="vm.changePage($event, link[0])" ng-show="link[1]"> {{ link[0] }} </a>
    <span ng-show="!link[1]">{{ link[0] }} </span>
  </li>
  <li>
    <button ng-click="vm.changePage($event, vm.newData.actualPage + 1)" ng-disabled="vm.newData.nextPage" >Next</button>
  </li>
</ul>
<div class="modal" ng-show="vm.viewDetails" ng-if="vm.success">
  <h4><a href="#" ng-click="vm.hideModal($event)">X</a></h4>
  <h2>{{ vm.person.name}}</h2>
  <div class="modal-picture" ng-style="{ 'background-image': 'url(' + vm.person.thumbnail + ')' }">
  </div> 
  <div class="modal-data">
    <ul>
      <li>Age: {{vm.person.age }}</li>
      <li>Height: {{ vm.person.height }}</li>
      <li>Weight: {{ vm.person.weight }}</li>
      <li>Hair color: {{ vm.person.hair_color }}</li>
      <li>Professions:
        <ul>
          <li ng-repeat="profession in vm.person.professions"> {{ profession }}</li>
        </ul>
      </li>
      <li>Friends:
        <ul>
          <li ng-repeat="friend in vm.person.friends"> {{ friend }}</li>
        </ul>
      </li>
    </ul>
  </div> 
</div>
<!-- Div where all the images are requested at the start to cache them  -->
<div ng-show="false">
  <img  ng-repeat="img in vm.imgs" ng-src="{{ img }}">
</div>