main
  margin: 0 auto;
  width: 90%;
  .people-list
    background-color: blue;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    figure
      margin: 5px;
      .picture
        height: 200px;
        width: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

